@model UserAuthApp.ViewModels.LoginViewModel

<h1>Login</h1>
<form method="post">
    <div>
        <label>Email</label>
        <input asp-for="Email" />
    </div>
    <div>
        <label>Password</label>
        <input asp-for="Password" type="password" />
    </div>
    <div>
        <input asp-for="RememberMe" type="checkbox" />
        <label asp-for="RememberMe">Remember Me</label>
    </div>
    <button type="submit">Login</button>
</form>